body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridRow {
    display: flex;
}

.box {
    border: 1px solid black;
    box-sizing: border-box;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
}